// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// Variables
@import 'partials/variables';
// Variables
@import 'partials/mixin';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Custom (Home, Dahsboard)
@import "partials/custom";
@import "base";
@import "home";
@import "dashboard";
@import "show";
@import "cart";
@import "parts/header";
@import "parts/footer";
@import "cart";
// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
    background-color: #fff;
}
