* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Main wrapper
.wrapper{
  width: 100vw;
  max-width: 100%;
  background-color: $main-bg;
  font-family: $main-font-family;
  font-size: $main-font-size;

  .content {
    max-width: $max-width-content;
    margin: auto;
    padding: 30px 0;
  }

  .btn {
    background-color: $title-col;
    color: #FFFFFF;
    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  .titles {
    font-size: 2.4em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    @media (max-width: 916px) {
      font-size: 2em;
      margin-bottom: 14px;
    }
  }

  .subtitles {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    @media (max-width: 916px) {
      font-size: 1.2em;
      margin-bottom: 8px;
    }
  }

  ul {
    list-style: none;
  }
  a {
    color: $link-col;
    text-decoration: none;
  }
  a:hover {
    color: $link-hover-col;
    text-decoration: underline;
  }
}

// Header
.top-header {
  @include flex-sp-btw;
  height: 100px;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 16px 30px;

  //Header: logo
  &-logo {
    min-width: 160px;
    width: 20%;
    img {
      max-width: 100%;
    }
  }

  //Header: menu
  &-menu {
    .fas {
      cursor: pointer;
      font-size: 1.5em;
    }
    @media screen and (min-width: 916px){
      &.lg {
        display: block;
      }
      &.sm {
        display: none;
      }
      &-lg {
        @include flex;
        & > * {
          margin: 0 15px;
        }
      }
    }
    @media screen and (max-width: 916px){
      &.lg {
        display: none;
      }
      &.sm {
        display: block;
      }
      &-sm {
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        width: 40vh;
        min-height: 100vh;
        max-height: 100%;
        text-align: right;
        background: linear-gradient(to right, rgba(255, 255, 255, .85), #FFF);
        box-shadow: -5px 5px 12px rgba(0, 0, 0, .2);
        border-radius: 4px;
        padding: 35px;
        & > * {
          margin: 15px 0;
        }
      }
    }
  }
}

// Businesses cards
.business {
  @include flex;
  justify-content: center;
  font-size: 0.9em;

  &-item {
    width: 320px;
    margin: 20px 40px;
    background-color: #EFEFFF;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    transition: 0.5s;

    &:hover {
      background-color: #FFFFFF;
      transform: scale(1.06);
      box-shadow: 2px 2px 4px rgba(0, 0, 0, .6);
    }
    &-top {
      background-color: #6B9BBF;
      padding: 10px;
      &-logo {
        position: relative;
        width: 100%;
        height: 200px;
        overflow: hidden;
      }
      h3 {
        padding: 10px;
        font-size: 1.2em;
        font-weight: 700;
        color: #FFFFFF;
        text-shadow: 1px 1px 2px #000000;
        text-transform: uppercase;
      }
    }
    &-description {
      padding: 28px;
      min-height: 120px;
    }
    &-time {
      background-color: #4BB98C;
      color: #FFFFFF;
      text-shadow: 1px 1px 2px #000000;
      padding: 10px;
    }
    &-address{
      font-size: 0.9em;
      padding: 20px 30px;
    }
    &-actions{
        padding:10px;
        display: flex;
        a{
            font-size: 25px;
            margin-right: 10px;
        }
    }
    a {
      @include flex-sp-btw;
      flex-direction: column;
      color: #404040;
      &:hover{
        text-decoration: none;
      }
    }

    img {
      position: absolute;
      width: 100%;
      min-height: 200px;
    }
  }
}

// Footer
.bottom-footer {
  background-color: $main-bg;
  &-columns {
    @include flex;
    justify-content: center;
    padding: 0;
    ul {
      padding: 20px;
      width: calc(100% / 4);
      @media screen and (max-width: 850px){
        width: 80%;
      }
      li {
        margin-bottom: 5px;
      }
    }
    .logo {
      text-align: center;
      img {
        max-width: 120px;
      }
    }

    &-title {
      font-size: 1.4em;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
}
