* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  max-width: 100%;
  font-family: $main-font;

    .top-header {
      width: 100%;
      padding: 25px;
      @include flex;
    }
}

.fl{
  float:left;
}
