* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.wrapper{
    max-width: 100%;
    width: 100vw;
}

.header-restaurant{
    .row {
        &-content {
            &-row{
                &-sidebar{
                    background-color: red;
                    height: 100px;
                }

                &-menu{
                    height: 100px;

                    background-color: yellow;
                }
            }
        }
    }
}
