.fl {
  float: left;
}
.fr {
  float: right;
}

.busines-header {
  overflow: hidden;

  .content {
    @include flex;
    align-items: center;
    padding: 0;
  }
  &-data {
    width: 60%;
    padding: 20px 0;

    .titles {
      color: $types-link-bg;
      text-shadow: 1px 1px #CCCCCC;
    }
    .subtitles {
      color: $form-bg-header;
    }
  }
  &-img {
    width: 40%;
    height: 260px;
    padding-top: 15px;
    text-align: center;
    @media (max-width: 520px) {
      min-width: 300px;
    }


    img {
      box-shadow: -10px 10px $form-bg-header;
      max-width: 100%;
      height: 85%;
    }
  }
}

.info-row{
  color:white;
  background-color: $types-link-bg;
  height: 60px;
  font-size: 15px;
  &-content{
    display: flex;
    &-left, &-right{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 50%;
      span{
        line-height: 40px;
      }
    }
    @media (max-width: 800px) {
      &-left, &-right{
        font-size: 13px;
        width: 100%;
        height: 30px;
        &-span{
          line-height: 30px;
        }
      }
    }
  }
  @media (max-width: 800px) {
    &-content{
      flex-direction: column;
    }
  }
}

.business-main {
  max-width: 100%;
  padding: 45px 0;
  background-color: $form-bg-header;
  color:#FFFFFF;
  font-size: 0.88em;
  &-row-main{
    &-row{
      padding: 0 35px;
      &-title{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        font-family: $main-font-family;
      }
      @media (max-width: 481px) {
        &-title{
          font-size: 20px;
        }
      }
      &-products{
        background-color: #00338e;
        height: 100%;
        margin: 15px 0;
        display: flex;
        padding: 0;
        transition: 0.4s;
        &-img{
          width: 160px;
          height: 160px;
          background-size: cover;
          background-position-x: center;
          background-position-y: center;
        }
        &-container{
          width:calc(100% - 160px);
          padding-left: 10px;
          &-title{
            font-size: 17px;
            font-weight: bold;
          }
          &-description{
            font-size: 14px;
          }
        }
        @media (max-width: 550px) {
          &-container{
            width: 100%;
            padding: 10px;
          }
          &-img{
            height: 120px;
            width: 100%;
            margin: auto;
          }
        }

        &-price{
          display: flex;
          flex-direction: column;
          width: 100px;
          height: 100%;
        }
        &-options{
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100px;
          &-btn{
            margin: 10px 0;
            color: #FFFFFF;
            font-size: 20px;
            width: 90%;
            padding: 5px;
            border: none;
            border-radius: 5px;
            background-color: $types-link-bg;
          }
        }
        @media (max-width: 550px) {
          &-price{
            padding: 0 15px;
            flex-direction: row;
          }
        }
        @media (max-width: 550px) {
          &-options{
            padding: 20px 0;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: center;
            &-btn{
              margin: 0 25px;
              width: 75px;
            }
          }
        }
      }
      &-products:hover{
        transform: scale(1.04);
      }
      @media (max-width: 550px) {
        &-products{
          flex-direction: column;
          width: 100%;
        }
      }
    }
    @media (max-width: 550px) {
      &-row{
        padding: 0 100px;
      }
    }
  }


  aside{
    .card:first-child{
      margin-top: 50px;
    }
    .card{
      background-color: transparent;
      border: 1px solid gray;
    }
  }
  .info-restaurant{
    padding-bottom: 30px;
    .card{
      width: 100%;
      padding: 5px;
      &-sidebar{
        background-color: $types-link-bg;
        border-radius: 5px;
        &-info{
          border-bottom: 1px solid gray;
          padding: 5px 10px;
          margin: 10px auto;
        }
      }
    }
  }
}

.info-restaurant {
  .card-sidebar-info {
    border-bottom: 1px solid $form-bg-header !important;
  }
  .btn {
    background-color: $form-bg-header;
  }
}
