*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.business-main{
    padding-top: 20px;
    &-row{
        &-content{
            &-row{
                position: relative;
                &-products{
                    &-row{
                        display: flex;
                        flex-wrap: wrap;
                        &-title{
                            height: 45px;
                            font-size: 25px;
                            color: #3d4d67;
                            font-weight: bold;
                            border-bottom: 1px solid #3d4d67;
                            font-family: 'Roboto', sans-serif;
                        }
                        &-product {
                            height: 200px;
                            margin: 25px 0;
                            transition: 0.5s;
                            &-row{
                                height: 100%;
                                &-name{
                                    display: flex;
                                    &-img {
                                        margin-right: 10px;
                                        width: 40%;
                                        background-position: center;
                                        background-size: 100%;
                                        background-repeat: no-repeat;
                                    }
                                    &-container{
                                        width: 60%;
                                        &-title{
                                            font-size: 20px;
                                            color: #3d4d67;
                                            font-weight: bold;
                                            font-family: 'Roboto', sans-serif;
                                        }
                                        &-description{
                                            font-size: 15px;
                                            color: #3d4d67;
                                            font-family: 'Roboto', sans-serif;
                                        }
                                    }
                                }
                                @media (max-width: 950px) {
                                    &-name{
                                        text-align: center;
                                        flex-direction: column;
                                        &-img{
                                            height: 60px;
                                            margin: auto;
                                            width: 50%;
                                        }
                                        &-container{
                                            width: 100%;
                                        }
                                    }
                                }
                                &-price{
                                    margin: 0 auto;
                                    color: #3d4d67;
                                    font-size: 13px;
                                }
                                &-options{
                                    &-btn{
                                        font-size: 25px;
                                        border-radius: 50%;
                                        margin: auto;
                                        height: 45px;
                                        width: 45px;
                                        color: white;
                                        background-color: #4CAF50;
                                        border: none;
                                    }
                                    &-btn:last-child{
                                        background-color: #f44336;

                                    }
                                    @media (max-width: 500px) {
                                        &-btn{
                                        padding-bottom: 10px;
                                        height: 30px;
                                        width: 30px;
                                        }
                                    }
                                }
                            }
                        }
                        &-product:hover{
                            transform: scale(1.05);
                            box-shadow: 5px 10px 14px black;
                        }
                    }
                }
            }
        }
    }
}

