// .wrapper {
//   max-width: 100%;
//   width: 100vw;
// }

// .row-header {
//     background-color: $subtitle-col;
//     color: white;
//     .content{
//         text-align: center;
//         &-img{
//             margin-bottom: 15px;
//         }
//     }
//     button{
//         padding: 10px;
//         width: 250px;
//         border: none;
//         color:white;
//         background-color: transparent;
//         transition: 0.4s;
//     }
//     button:hover{
//         transform: scale(1.1);
//         background-color: rgba(255,255,255, 0.2);
//     }
// }

// .header-row{
//     &-jumbotronn{
//         &-container{
//             a {
//                 padding: 10px;
//                 width: 250px;
//                 border: none;
//                 color:white;
//                 background-color: transparent;
//                 transition: 0.4s;
//                }
//                a:hover{
//                 transform: scale(1.1);
//                 background-color: rgba(255,255,255, 0.2);
//                 color: white;
//             }
//         }
//     }
// }

// .row-main{
//     background-image: $types-bg;
//     &-restaurants{
//         &-row{
//             &-title{
//                 text-align: center;
//                 padding: 10px;
//             }
//             &-row{
//                 padding: 10px;
//                 display: flex;
//                 flex-wrap: wrap;
//             }
//         }
//     }
// }

.dash-header {
    background-color: #000678;
    color: #fff;
}

.dash-nav {
    background-color: #2DCD65;
    a {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
    }
    a:hover {
        text-decoration: none;
        color: #fff;
    }
}

.dash-main {
    background-color: #00338E;
    color: #fff;
}

.text-blue {
    color: $link-col;
}
// #myChart {
//     color: #fff;
// }

