.dash-header {
    background-color: #000678;
    color: #fff;
}

.dash-nav {
    background-color: #2DCD65;
    a {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 12px;
    }
    a:hover {
        text-decoration: none;
        color: #fff;
    }
}

.dash-main {
    background-color: #00338E;
    color: #fff;
}

.text-blue {
    color: $link-col;
}
