* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 100%;
    width: 100vw;
}

.header-restaurant {
    &-row {
        &-jumbotronn {
            height: 40vh;
            background-size: 100%;
            background-position: bottom;
            background-repeat: no-repeat;
            &-cover {
                height: 100%;
                width: 101.6%;
                background-color: rgba(0, 0, 0, 0.5);
                &-logo {
                    margin-top: 8%;
                    color: white;
                    &-img {
                        margin-top: 30px;
                        padding: 5px;
                        background-color: white;
                        border-radius: 10px;
                        transform: scale(1.3);
                    }
                    &-box {
                        margin: 15px 30px;
                        &-title {
                            font-size: 35px;
                            color: white;
                        }
                        &-types {
                            font-size: 15px;
                            color: white;
                        }
                    }
                }
                &-btn {
                    margin-top: 6%;
                    button {
                        background: none;
                        border: none;
                        border-radius: 20px;
                        font-size: 18px;
                        padding: 10px;
                        transition: 0.5s;
                        color: white;
                    }
                    button:hover {
                        transform: scale(1);
                        background-color: rgba(175, 175, 175, 0.3);
                        padding: 7px 12px;
                    }
                }
            }
        }
    }
}

.main-dashboard{
    &-title{
        font-weight: bold;
        text-align: center;
    }
    &-row{
        &-container{
            &-row{
                display:flex;
                flex-wrap: wrap;
                justify-content: space-between;
                &-card{
                    padding: 10px;
                    &-restaurant{
                        margin: 0 auto;
                        width: 75%;
                        border-radius: 10px;
                        height: 400px;
                        padding: 0px;
                        transition: 1s;

                        &-img {
                            border-radius: 10px 10px 0px 0px;
                            height: 150px;
                            background-size: cover;
                            background-position: center;
                        }

                        span{
                            font-weight: bold;
                        }
                    }
                    &-restaurant:hover{
                        background-color: rgba(175, 175, 175, 0.3);
                        padding: 7px 12px;
                        box-shadow: 5px 10px 14px black;
                    }

                }

            }
        }
    }
}
