* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 100%;
    width: 100vw;
}

.fl{
    float:left;
}

.main-home {
    .row {
        &-jumbotronn {
            height: 100vh;
            background-image: url("img/backg-jumbo.jpg");
            background-size:100vw;
            &-row {
                &-subtitle {
                    margin: 20px 0 50px 0;
                    text-align: center;
                    color:white;
                    font-size: 1.25rem;
                    text-shadow: 2px 2px black;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;

                }
                &-title {
                    margin-top: 10%;
                    color:white;
                    font-size: 4rem;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    text-shadow: 2px 2px black;
                }
                &-types {
                    background-color: rgba(60,60,60, 0.2);
                    border-radius: 50px;
                    padding: 10px;
                    text-align: center;
                    position: absolute;
                    right: 50%;
                    bottom: 3%;
                    transform: translate(50%, 0);
                    &-row {
                        &-type {
                            &-t{
                                width: 100%;
                                transition: 1s;
                                border-radius: 50px;
                                margin-top: 10px;
                            }
                            &-t:hover {
                                // background-color: rgba(200, 200, 200, 0.4);
                                transform: scale(1.05);
                            }
                        }
                    }
                }
            }
        }
        &-restaurants{
            height: 85vh;
            &-row{
                text-align: center;
                &-title {
                    font-size: 30px;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;
                    color: #3d4d67;
                    margin: 20px 0;
                 }
                 &-subtitle {
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;
                    color: #3d4d67;
                 }
                &-cards{
                    &-row{
                        &-card{
                            margin-top: 20px;
                            transition: 1s;
                            &-img{
                                width: 100%;
                                text-align: center;
                                img {
                                    width: 90%;
                                    margin: 15px auto;
                                }
                            }
                            &-body{
                                text-align: center;
                                height: 195px;
                                &-name {
                                   font-weight: bold;
                                   font-size: 17px;
                                   margin: 7px auto;
                                }
                                &-type {
                                    margin: 7px auto;
                                 }
                                &-address {
                                    margin: 7px auto;
                                }
                                &-status {
                                    width: 90%;
                                    margin: auto;
                                    height: 40px;
                                    color: white;
                                    margin-top: 15px;
                                    line-height: 40px;
                                    background-color:  #333;
                                }
                            }
                        }
                        &-card:hover{
                            transform: scale(1.05);
                            box-shadow: 5px 10px 14px black;
                        }
                    }
                }
            }
        }
    }
}

