.home-container {

  .titles {
    font-size: 2.4em;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
    @media (max-width: 800px) {
      font-size: 2em;
      margin-bottom: 14px;
    }
  }

  .subtitles {
    font-size: 1.7em;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    @media (max-width: 800px) {
      font-size: 1.2em;
      margin-bottom: 8px;
    }
  }

  .row-jumbotron {
    min-height: 380px;
    background-image: url("/img/00-bg.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;

    .content {
      padding: 0;
    }

    &-right {
      height: 380px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 0 25px;
      @media (max-width: 700px) {
        height: 280px;
      }

      img {
        max-height: 90%;
      }
    }
    &-row {
      .subtitles {
        color: $subtitle-col;
      }
      .titles {
        margin-top: 6%;
        color:$title-col;
        transition: 1s;
      }
      &-search {
        .input-group{
          background-color: rgba(0, 0, 0, 0.2);
          input{
            transition: 1s;
          }
        }
      }
    }
  }

  .types{
    background: $types-bg;
    padding: 30px 0;
    text-align: center;

    .titles {
      color: $types-title-col;
    }
    ul {
      @include flex;
      justify-content: center;

      li {
        width: calc(100% / 4);
        padding: 20px 40px;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 700;
        @media (max-width: 800px) {
          width: calc(100% / 2);
        }
        img {
          max-width: 100%;
          margin-bottom: 12px;
          border-radius: 6px;
          opacity: 0.9;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
          transition: 0.4s;

          &:hover {
            opacity: 1;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
            transform: scale(1.06);
          }
        }
        .type-name {
          background-color: $types-link-bg;
          padding: 5px;
          transition: 0.4s;
        }
        a {
          color: $types-link-col;
          &:hover {
            text-decoration: none;
            & .type-name {
              background-color: $types-title-col;
            }
          }
        }
      }
    }
  }

  .businesses {
    background-color: $businesses-bg;
    min-height: 380px;
    background-image: url("/img/01-bg.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100%;
    .titles {
      color: #FFFFFF;
    }
    .subtitles {
      color: #B9C0FF;
    }
    .error{
      margin: 25px 0;
      font-size: 1.3em;
      text-align: center;
      color: #FFFFFF;

    }
  }
}
