* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 100%;
    width: 100vw;
}

.fl{
    float:left;
}

.main-home {
    .row {
        &-jumbotronn {
            height: 275px;
            background-image: url("img/backg-jumbo.jpg");
            background-position: center;
            background-size:100vw;
            &-row {
                &-subtitle {
                    margin-bottom: 10px;
                    text-align: center;
                    color:white;
                    font-size: 1.1rem;
                    text-shadow: 2px 2px black;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                }
                &-title {
                    margin-top: 5.5%;
                    color:white;
                    font-size: 2rem;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    text-shadow: 2px 2px black;
                }
            }
        }
        &-types{
            height: 500px;
            padding: 35px;
            text-align: center;
            &-row {
                &-title{
                    font-size: 30px;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;
                    color: #3d4d67;
                    margin-bottom: 20px;
                }
                &-type {
                    &-t {
                        width: 100%;
                        transition: 1s;
                        border-radius: 50px;
                        margin-top: 10px;
                    }
                    &-t:hover {
                        // background-color: rgba(200, 200, 200, 0.4);
                        transform: scale(1.05);
                    }
                }
            }
        }
        &-restaurants{
            background-color: rgba(200,200,200, 0.2);

            &-row{
                text-align: center;
                &-title {
                    font-size: 30px;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;
                    color: #3d4d67;
                    margin: 20px 0;
                 }
                 &-subtitle {
                    font-size: 20px;
                    font-family: 'Roboto', sans-serif;
                    color: #3d4d67;
                    margin-bottom: 20px;
                 }
                &-cards{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;

                    &-card{
                        margin-bottom: 20px;
                        width: 23%;
                        min-height: 325px;
                        transition: 1s;
                        background-color: white;
                        &-img{
                            width: 100%;
                            height: 90px;
                            text-align: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            border-bottom: 1px solid lightgray;
                        }
                        &-body{
                            position: relative;
                            text-align: center;
                            height: 235px;
                            &-name {
                                font-weight: bold;
                                font-size: 17px;
                                margin: 7px auto;
                            }
                            &-hours {
                                position: absolute;
                                bottom: 20%;
                                left: 50%;
                                transform: translate(-50%, 0);
                            }
                            &-title {
                                font-family: 'Roboto', sans-serif;
                                color: #3d4d67;
                                font-weight: bold;
                                position: absolute;
                                bottom: 40%;
                                left: 50%;
                                transform: translate(-50%, 0);
                            }
                            &-address {
                                position: absolute;
                                bottom: 0;
                                font-size: 10px;
                                margin: 7px 30px;
                            }
                        }
                    }
                    &-card:hover{
                        transform: scale(1.05);
                        box-shadow: 5px 10px 14px black;
                    }
                }
            }
        }
    }
}

