.home-container {

  .row-jumbotron {
    min-height: 350px;
    background-image: url("/img/00-bg.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100%;

    & > .row {
      max-width: 1200px;
      height: 100%;
      margin: auto;
    }

    &-left {
    }
    &-right {
      @include flex;
      justify-content: center;
      padding: 0 25px;

      img {
        max-height: 350px;
      }
    }
    &-row {
      &-subtitle {
        margin-bottom: 10px;
        text-align: center;
        font-size: 1.6em;
        font-weight: 700;
        color: $subtitle-col;
        text-align: center;
      }
      &-title {
        transition: 1s;
        margin-top: 6%;
        color:$title-col;
        font-weight: 800;
        font-size: 2.4rem;
        text-align: center;
      }
      @media (max-width: 950px) {
        &-title{
          margin-top: 10%;
        }
      }
      @media (max-width: 650px) {
        &-title{
          margin-top: 13%;
        }
      }
      &-search {
        .input-group{
          background-color: rgba(0, 0, 0, 0.2);
          input{
            transition: 1s;
          }
        }
      }
    }
  }

  .types{
    background: #33D16B;
    padding: 30px 0;
    text-align: center;
    h2 {
      color: #1828F6;
      font-size: 2.4em;
      font-weight: 800;
      margin-bottom: 20px;
    }
    ul {
      @include flex;
      justify-content: center;
      max-width: 1200px;
      margin: auto;

      li {
        width: calc(100% / 4);
        padding: 20px 40px;
        text-transform: uppercase;
        font-size: 1.1em;
        font-weight: 700;
        @media (max-width: 800px) {
          width: calc(100% / 2);
        }
        img {
          max-width: 100%;
          margin-bottom: 12px;
          border-radius: 6px;
          opacity: 0.9;
          box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
          transition: 0.4s;

          &:hover {
            opacity: 1;
            box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
            transform: scale(1.06);
          }
        }
        .type-name {
          background-color: #06AE41;
          padding: 5px;
          transition: 0.4s;
        }
        a {
          color: #FFFFFF;
          &:hover {
            text-decoration: none;
            & .type-name {
              background-color: #000796;
            }
          }
        }
      }
    }
  }

  .row-restaurants{
    background-color: rgba(200,200,200, 0.2);

    &-row{
      text-align: center;
      &-title {
        font-size: 30px;
        font-weight: bold;

        color: #3d4d67;
        margin: 20px 0;
      }
      &-subtitle {
        font-size: 20px;

        color: #3d4d67;
        margin-bottom: 20px;
      }
      @media (max-width: 950px) {
        &-cards{
          justify-content: space-between;
        }
      }
      &-cards{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        &-row {
          background-color:  white;
          &-card{
            min-height: 400px;
            transition: 0.5s;
            &-click {
              text-decoration: none;
              &-product{
                width: 90%;
                height: 90%;
                margin: auto;
                transition: 1s;
                &-img{
                  width: 100%;
                  height: 90px;
                  text-align: center;
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                  border-bottom: 1px solid lightgray;
                }
                &-body{
                  position: relative;
                  text-align: center;
                  height: 235px;
                  &-name {
                    font-weight: bold;
                    font-size: 17px;
                    margin: 7px auto;
                    color: #3d4d67;
                  }
                  &-description{
                    color: #3d4d67;
                  }
                  &-hours {
                    position: absolute;
                    bottom: 20%;
                    left: 50%;
                    transform: translate(-50%, 40%);
                    color: #3d4d67;
                  }
                  &-title {

                    color: #3d4d67;
                    font-weight: bold;
                    position: absolute;
                    bottom: 40%;
                    left: 50%;
                    transform: translate(-50%, 65%);
                  }
                  &-address {
                    position: absolute;
                    bottom: 0;
                    transform: translate(0%, 50%);
                    font-size: 10px;
                    margin: 7px 30px;
                    color: #3d4d67;
                  }
                }
              }
              &-product:hover{
                transform: scale(1.05);
                box-shadow: 5px 10px 14px black;
              }
            }
          }
        }
      }
    }
  }
}
