.bl-container {
    padding: 100px 0px;
    background: #033da1;
    color: #fff;

    .table-borderless {
        color: #fff;
        @media (max-width: 760px) {
            margin-top: 20px;
          }
    }

    input.btn:hover {
        color: $types-title-col;
        text-decoration: underline;
    }
}
