* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 100%;
    width: 100vw;
}

.header-show {
    &-row {
        &-jumbotronn {
            height: 40vh;
            background-size: cover;
            background-position: center;
            margin-left: 0px;
            margin-right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            &-cover {
                color: white;
                border-radius: 10px 10px 10px 2px;
                font-size: 30px;
                font-weight: bold;
                border: 1px solid white;
            }
        }
    }
}

.container-fluid{
    padding: 0px;
}
.title{
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.4);
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 50px;
    padding-bottom: 30px;
    .btn{
        box-shadow: 5px 8px 10px rgba($color: #000000, $alpha: 0.3);
                        }
}

.create{
    display: flex;
    flex-direction: row;
    align-items: center;
    &-contain{
        margin-left: 0px;
        margin-right: 0px;
       &-row{
            &-sidebar{
               line-height: 2.5;
               padding-left: 0px;
               padding-right: 0px;
               &-info{
                   border-radius: 10px 10px 10px 2px;
                   margin: 10px 0 10px 0;
                   box-shadow: 5px 8px 12px  rgba($color: #000000, $alpha: 0.4);
                   padding: 10px;
                   font-size: 14px;
                   font-weight: bold;
               }
               &-description{
                   overflow-y: auto;
                   height: 90px;
                   border-radius: 10px 10px 10px 2px;
                   margin: 10px 0 10px 0;
                   padding-left: 10px;
                   box-shadow: 5px 8px 12px  rgba($color: #000000, $alpha: 0.4);
                   font-size: 14px;
                   font-weight: bold;
               }
            }
        }
        &-product{
            &-row{
                display: flex;
                flex-wrap: wrap;
                padding-left: 15px;
                &-item{
                    height: 500px;
                    padding: 10px;
                    &-img{
                        background-size: cover;
                        background-position: center;
                        width: 100%;
                        height: 160px;
                        padding: 0px;
                        border-radius:10px 10px 0  0 ;
                    }
                    &-content{
                        height: 100%;
                        box-shadow: 5px 8px 12px rgba($color: #000000, $alpha: 0.4);
                        border-radius: 10px;
                        padding: 5px;
                        &-description{
                            overflow-y: auto;
                            height: 180px;
                            font-size: 14px;
                        }
                        .btn{
                            margin-bottom: 5px;
                            box-shadow: 5px 8px 10px rgba($color: #000000, $alpha: 0.3);
                        }
                    }
                }
            }
        }
    }
}
