@mixin flex {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-sp-btw {
  @include flex;
  justify-content: space-between;
}

@mixin flex-center {
  @include flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
