// BGColors
$main-bg: #FFFFFF;
$types-bg: linear-gradient(#62D284, #2DCD65);
$businesses-bg: #000048;
$business-show-bg: #000678;
$business-product-bg: linear-gradient(#0510A5, #192ACD);

// Text
$main-font-family: 'Montserrat';
$main-font-size: 15px;
$link-col: #000138;
$link-hover-col: #00BE43;
$title-col: #00BE43;
$subtitle-col: #000250;
$types-title-col: #000BA0;
$types-link-col: #FFFFFF;
$types-link-bg: #06AE41;

// Sizes
$max-width-content: 1200px;
