footer {

    color: lightgray;
    .row{
        background-color: #282C35;
        margin-right: 0px;
        &-body-row{
            display: flex;
            flex-wrap: wrap;
            &-card{
                transition: 1s;
                &-title{
                    font-size: 20px;
                    font-weight: bold;
                    margin: 10px 0;
                }
                &-text{
                    margin: 10px 0;
                }
                @media (max-width: 1150px) {
                    &-img{
                    transition: 0.1s;
                        img {
                            width: 95%;
                        }
                    }
                }
                @media (max-width: 991px) {
                    &-text{
                        float: left;
                        width: 70%;
                    }
                    &-img{
                    float: right;
                    margin-top: 10px;
                    width: 30%;
                    transition: 0.3s;
                        img {
                            width: 40%;
                        }
                    }
                }
                &-ul{
                    list-style: none;
                    li{
                        margin: 7px 0;
                    }
                }
                &-box{
                    padding-left: 10px;
                    margin: 15px 0;
                    &-img {
                        margin-right: 10px;
                    }
                }
            }
        }

    }

}
