footer {
    color: #3d4d67;
    font-family: $main-font-family;
    .row {
        background-color: #FFFFFF;
        &-body-row{
            display: flex;
            flex-wrap: wrap;
            &-card{
                transition: 1s;
                &-title{
                    font-size: 25px;
                    font-weight: bold;
                    margin: 10px 0;
                }
                &-text{
                    font-size: 17px;
                    margin: 10px 0;
                }
                @media (max-width: 1150px) {
                    &-img{
                    transition: 0.1s;
                        img {
                            width: 95%;
                        }
                    }
                }
                @media (max-width: 991px) {
                    &-text{
                        float: left;
                        width: 70%;
                    }
                    &-img{
                        display: none;
                    }
                }
                &-ul{
                    list-style: none;
                    li{
                        font-size: 17px;
                        margin: 7px 0;
                    }
                }
                &-box{
                    width: 100%;
                    font-size: 17px;
                    line-height: 35px;
                    &-img {
                        width: 15%;
                        float: left;
                    }
                    &-contact {
                        float: left;
                        width: 85%;
                    }
                    @media (max-width: 768px) {
                        &-img{
                        width: 5%;
                        }
                        &-contact{
                            width: 95%;
                        }
                    }
                }
            }
            &-card:nth-child(2){
                padding-left: 30px;
            }
            @media (max-width: 575px) {
                &-card:nth-child(2){
                    padding: 0;
                }
            }
        }

    }

}
