.header-restaurant{
    &-row {
        &-jumbotronn {
            height: 40vh;
            background-size:100%;
            background-position: bottom;
            background-repeat: no-repeat;
            &-cover {
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                &-logo{
                    margin-top: 8%;
                    &-img{
                        padding: 5px;
                        background-color: white;
                        border-radius: 10px;
                        transform: scale(1.3);
                        margin-top: 15px;
                    }
                    &-box{
                        margin: 15px 35px;
                        &-title {
                            font-size: 35px;
                            color: white;
                        }
                        &-types{
                            font-size: 15px;
                            color: white;
                        }
                    }

                }
                &-info{
                    margin-top: 8%;
                    color:white;
                    &-box{
                        text-align: right;
                        &-fee{
                        text-align: right;
                        float: right;
                        }
                        &-icon{
                            float: right;
                                i {
                                    margin: 10px 20px;
                                    font-size: 30px;
                                    color:white;
                                }
                            }
                        &-select{
                            display: block;
                            margin-top: 13px;
                            border:none;
                            padding: 5px 10px;
                            background-color: #333;
                            color: white;
                        }
                          &-select-items div:hover, .same-as-selected {
                            background-color: rgba(0, 0, 0, 0.1);
                          }
                        &-select:hover{
                            border:none;

                        }
                    }
                }
            }
        }
    }
}

