.header-restaurant{
    &-row {
        &-jumbotronn {
            height: 275px;
            background-size:100%;
            background-position: bottom;
            background-repeat: no-repeat;
            &-cover {
                height: 100%;
                width: 100vw;
                background-color: rgba(0, 0, 0, 0.5);
                &-logo{
                    padding-top: 3%;
                    transition: 1s;
                    color:white;
                    display: flex;
                    flex-direction: column;
                    &-img{
                        width: 22%;
                        height: 125px;
                        margin-left: 59px;
                        transition: 1s;
                        transform: scale(1.5);
                        background-size: cover;
                        background-position: center;
                    }
                    @media (max-width: 768px) {
                        &-img {
                            width:33%;
                            margin: auto;
                        }
                        &-box{
                            text-align: center;
                            margin: 35px auto 0;
                        }
                    }
                    @media (max-width: 532px) {
                        &-img {
                            width:40%;
                            margin: auto;
                        }
                    }
                    &-box {
                        transition: 1s;
                        text-align: left;
                        margin-top: 35px;
                        &-title {
                            transition: 1s;
                            font-size: 25px;
                        }
                        &-types{
                            transition: 1s;
                            font-size: 15px;
                        }
                    }
                }
                @media (max-width: 992px) {
                    &-logo{
                        padding-top: 5%;
                    }
                }
                @media (max-width: 768px) {
                    &-logo{
                        padding-top: 7%;
                    }
                }
                @media (max-width: 532px) {
                    &-logo {

                    }
                }
            }
        }
    }
}

