.header-restaurant{
    &-row {
        &-jumbotronn {
            height: 275px;
            background-size:100%;
            background-position: bottom;
            background-repeat: no-repeat;
            &-cover {
                padding-top: 10%;
                height: 100%;
                width: 100vw;
                background-color: rgba(0, 0, 0, 0.5);
                &-logo{
                    transition: 1s;
                    color:white;
                    &-img{
                        height: 45%;
                        width: 22%;
                        transition: 1s;
                        padding: 1px;
                        transform: scale(1.3);
                        margin-top: 15px;
                        background-size: cover;
                        background-position: center;
                        flex: 150px 0px;
                    }
                    @media (max-width: 900px) {
                        &-img{
                            height: 35%;
                        }
                    }
                    @media (max-width: 635px) {
                        &-img{
                           margin: 15px auto;
                           height: 45%;
                           width: 22%;
                        }
                    }
                    &-box{
                        transition: 1s;
                        margin: 15px 0;
                        padding-left: 27px;
                        &-title {
                            transition: 1s;
                            font-size: 25px;
                        }
                        &-types{
                            transition: 1s;
                            font-size: 15px;
                        }
                    }
                }
                @media (max-width: 635px) {
                    &-logo{
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        flex-grow: 0;
                        justify-items: center;
                    }
                }
                &-info{
                    transition: 0.2s;
                    color:white;
                    &-box{
                        text-align: right;
                        &-fee{
                        text-align: right;
                        float: right;
                        }
                        &-icon{
                            float: right;
                                i {
                                    margin: 10px 20px;
                                    font-size: 30px;
                                    color:white;
                                }
                            }
                        &-select{
                            margin: 13px 10px;
                            border:none;
                            padding: 5px 10px;
                            background-color: #333;
                            color: white;
                            font-size: 13px;
                        }
                        &-select-items div:hover, .same-as-selected {
                            background-color: rgba(0, 0, 0, 0.1);
                        }
                        @media (max-width: 768px) {
                            &-select{
                                display:none;
                            }
                        }
                    }
                }
            }
            @media (max-width: 768px) {
                &-cover{
                    padding-top: 15%;
                }
            }
            @media (max-width: 992px) {
                &-cover{
                    padding-top: 13%;
                }
            }
        }
    }
}

