header {
    position: absolute;
    z-index:1;
    height: 50px;
    width: 100%;
    nav {
        width: 100%;
        height: 100%;
        @media screen and (max-width: 576px)
            {
                .row-content{
                    display: none;
                }
            }
        .row-content {

            .row {
                padding-top: 18px;
                .links {
                    transition: 0.2s;
                    display: flex;
                    justify-content: space-between;
                    @media (max-width: 465px) {
                        span {
                            font-size: 13px;
                        }
                    }
                    span {
                        font-size: 18px;
                        color: white;
                        font-family: 'Roboto', sans-serif;
                        transition: 0.5s;
                        border-radius: 50px;
                    }
                }
                span:hover, .top-right a:hover {
                    transform: scale(1.08);
                    background-color: rgba(175, 175, 175, 0.3);
                    padding: 7px 12px;

                }
                .top-right {
                    transition: 1s;
                    display: flex;
                    justify-content: flex-end;
                    a {
                        font-size: 18px;
                        color: white;
                        margin: 0 10px;
                        font-family: 'Roboto', sans-serif;
                        transition: 0.5s;
                        border-radius: 50px;
                    }
                }
            }
        }
        .row-menu{
            .bars{
                display: none;
            }
            .hamburger-menu {
                position: fixed;
                top: 0;
                right: 0;
                display: none;
                padding: 20px;
                width: 100%;
                height: 100%;
                max-width: 40vw;
                min-height: 100vh;
                background: #2B3F58;
            }
            .hamburger-menu ul {
                display: flex;
                height: 50%;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
                list-style: none;
            }
            .hamburger-menu ul li a {
                color: white;
                text-decoration: none;
                list-style: none;
                font-size: 20px;
            }
            .close {
                display: block;
                position: absolute;
                right: 20px;
                top: 20px;
                color: white;
                font-size: 35px;
                text-decoration: none;
            }
            @media screen and (max-width: 576px)
                {
                    .bars{
                        display: block;
                        float: right;
                        margin-top: 10px;
                        a {
                            i{
                                font-size: 30px;
                            }
                        }
                    }
                    .hamburger-menu.active {
                        display: block;
                    }
                }
        }

    }
}
